.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdfcfa;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}